<!DOCTYPE html>
<html>
<head>
  <title>Ws3</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "sandbox" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class='col-md-12'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
